@model IEnumerable<Filme>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>
             Filmes
            
            @*<a class="btn btn-dark" href="#">*@
            @*    Cadastrar*@
            @*</a>*@
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Filme:</th>
                    <th>Titúlo</th>
                    <th>Sinopse</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var filme in Model)
                {

    <tr>
        <td>
            <div class="d-flex flex-column">
                <a class="btn btn-success" asp-action="Atualizar" asp-route-id="@filme.Id">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Editar
                </a>

                <a class="btn btn-primary mt-1" asp-action="Detalhes" asp-route-id="@filme.Id">
                    <i class="fa-solid fa-eye"></i>
                    Ver
                </a>

                <a class="btn btn-danger mt-1" asp-action="Deletar" asp-route-id="@filme.Id">
                    <i class="fa-solid fa-trash-can"></i>
                    Excluir
                </a>
            </div>
        </td>
        <td class="align-middle">
            <img src="@filme.ImageURL" style="max-width:100px" alt="@filme.Titulo">
        </td>
        <td class="align-middle">@filme.Titulo</td>
        <td class="align-middle">@filme.Descricao</td>
    </tr>}
            </tbody>
        </table>

    </div>
</div>